
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-left-color:#F89406!important;  
	border-left-width: .3rem;  
	border-radius: 9px;
}

.card-header {
	background-image:-webkit-radial-gradient(right center, ellipse farthest-side, #FFFFFF 0%,#B0B0B0 300%);
	
}


.pt-7 {
	padding-top: 70px!important;

}

.custom-image{
    border:none!important;
      opacity: 0.4!important; 
      width: 70%!important;  
 }