.CalendarDay__highlighted_calendar {
    background: #82E0AA!important;
    color:#186A3B!important;
  }
  
  .CalendarDay__highlighted_calendar:hover {
    background: #58D68D!important;
    color: #186A3B!important;
  }
  
  .CalendarDay__highlighted_calendar:active {
    background: #58D68D!important;
    color: #186A3B!important;
  }