// variables

// font  css
$label-font:100 12px Verdana, "Verdana CE", Arial, "Arial CE","Lucida Grande CE", lucida, "Helvetica CE", Helvetica;
$label-color:#0187b4;
$font-family:Verdana, "Verdana CE", Arial, "Arial CE","Lucida Grande CE", lucida, "Helvetica CE", Helvetica;
$border-bottom-animation:#F89406;

$background-image: -webkit-radial-gradient(right center, ellipse farthest-side, #FFFFFF 0%,#B0B0B0 300%);

	/*change the color of glyphicons / fontawesom */

$fa-color1:#F89406;
$fa-color2:red;

$background-color1:transparent;
$mt-4: 3.5rem;
$mt-5: 4.5rem;
$mt-6: 7.5rem;